{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% translate "My work" %}{% endblock %}

{% block content %}
  <h1>{% translate "My work" %}</h1>
  <div class="module">
    {% for work in object_list %}
      <div class="course-info">
        <h3> {{ work.title }}</h3>
        <p>{% translate "Created" %}: {{ work.created }}</p>
        <p><a href="{% url "student_work_detail" work.course_id work.id %}">
          {% translate "Access work" %}</a></p>
      </div>
    {% empty %}
      <p>
        {% translate "You have not uploaded any work yet" %}.
        <a href="{% url "student_course_list" %}">{% translate "Browse my courses" %}</a>
        {% translate "to view a different course" %}.
      </p>
    {% endfor %}
  </div>
  </div>
  <h3>{% translate "Add new work" %}:</h3>
  <ul class="content-types">
    <li>
      <a href="{% url "work_content_create" course_id "text" %}">
        {% translate "Text" %}
      </a>
    </li>
    <li>
      <a href="{% url "work_content_create" course_id "image" %}">
        {% translate "Image" %}
      </a>
    </li>
    <li>
      <a href="{% url "work_content_create" course_id "video" %}">
        {% translate "Video" %}
      </a>
    </li>
    <li>
      <a href="{% url "work_content_create" course_id "file" %}">
        {% translate "File" %}
      </a>
    </li>
  </ul>
  </div>

{% endblock %}


{% block include_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/html5sortable.min.js"></script>
{% endblock %}

{% block domready %}
  var options = {
      method: 'POST',
      mode: 'same-origin'
  }

  const contentOrderUrl = '{% url "content_order" %}';

  sortable('#module-contents', {
    forcePlaceholderSize: true,
    placeholderClass: 'placeholder'
  })[0].addEventListener('sortupdate', function(e) {

    contentOrder = {};
    var contents = document.querySelectorAll('#module-contents div');
    contents.forEach(function (content, index) {
      // update content index
      contentOrder[content.dataset.id] = index;
    });

    // add new order to the HTTP request options
    options['body'] = JSON.stringify(contentOrder);
    
    // send HTTP request
    fetch(contentOrderUrl, options)
  });
{% endblock %}