{% extends "base.html" %}
{% load i18n static %}
{% load cache %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  <h1>
    {{ work.title }}
  </h1>
  <div class="contents">
    <h3>
      <a href="{% url "course_work_list" work.course_id %}">
        {% translate "Return to work list" %}
      </a>
    </h3>
  </div>
  <div class="module">
        {% with item=work.item %}
          <h2>{{ item.title }}</h2>
          <p>{% translate "Submitted by" %}: {{ item.owner }}</p>
          <p>{% translate "Submit date" %}: {{ item.created }}</p>
          {{ item.render }}
        {% endwith %}
  </div>
{% endblock %}