{% extends "base.html" %}

{% block title %}My work{% endblock %}

{% block content %}
  <h1>Course work</h1>
  <div class="module">
    {{ work.title }}
    {% for work in object_list %}
      <div class="course-info">
        <h3> {{ work.title }}</h3>
        <p>Created: {{ work.created }}</p>
        <p>Submitted by: {{work.owner}}</p>
        <p><a href="{% url "course_work_detail" work.course_id work.id %}">
        Access work</a></p>
      </div>
    {% empty %}
      <p>
        No work has been uploaded yet.
        <a href="{% url "manage_course_list" %}">Browse my courses</a>
        to view a different course.
      </p>
    {% endfor %}
  </div>

{% endblock %}


{% block include_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/html5sortable.min.js"></script>
{% endblock %}

{% block domready %}
  var options = {
      method: 'POST',
      mode: 'same-origin'
  }

  const contentOrderUrl = '{% url "content_order" %}';

  sortable('#module-contents', {
    forcePlaceholderSize: true,
    placeholderClass: 'placeholder'
  })[0].addEventListener('sortupdate', function(e) {

    contentOrder = {};
    var contents = document.querySelectorAll('#module-contents div');
    contents.forEach(function (content, index) {
      // update content index
      contentOrder[content.dataset.id] = index;
    });

    // add new order to the HTTP request options
    options['body'] = JSON.stringify(contentOrder);
    
    // send HTTP request
    fetch(contentOrderUrl, options)
  });
{% endblock %}