{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% translate "My courses" %}{% endblock %}

{% block content %}
  <h1>{% translate "My courses" %}</h1>
  <div class="module">
    {% for course in object_list %}
      <div class="course-info">
        <h3>{{ course.title }}</h3>
        <p><a href="{% url "student_course_detail" course.id %}">
          {% translate "Access contents" %}</a></p>
        <p><a href="{% url "student_work_list" course.id %}">
          {% translate "Completed work" %}</a></p>
      </div>
    {% empty %}
      <p>
        {% translate "You are not enrolled in any courses yet" %}.
        <a href="{% url "course_list" %}">{% translate "Browse courses" %}</a>
        {% translate "to enroll in a course" %}.
      </p>
    {% endfor %}
  </div>
  {% include "pagination.html" with page=object_list %}
{% endblock %}